@tailwind base;
@tailwind components;
@tailwind utilities;

/* ANTON FONT FAIMLY */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* AEONIK FONT FAIMLY */
@font-face {
  font-family: "AeonikTRAIL";
  src: url("/assets/fonts/AEONIK-REGULAR.TTF");
  font-weight: 400;
}

@font-face {
  font-family: "AeonikTRAIL";
  src: url("/assets/fonts/AEONIK-LIGHT.TTF");
  font-weight: 300;
}

@font-face {
  font-family: "AeonikTRAIL";
  src: url("/assets/fonts/AEONIK-BOLD.TTF");
  font-weight: 700;
}

/* ADD IN WHOLE BODY AEONIK FONT FAIMLY */
* {
  font-family: "AeonikTRAIL";
}

body {
  background-color: #000c24;
}
