@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AeonikTRAIL";
  src: url("/assets/fonts/AEONIK-REGULAR.TTF");
  font-weight: 400;
}

@font-face {
  font-family: "AeonikTRAIL";
  src: url("/assets/fonts/AEONIK-LIGHT.TTF");
  font-weight: 300;
}

@font-face {
  font-family: "AeonikTRAIL";
  src: url("/assets/fonts/AEONIK-BOLD.TTF");
  font-weight: 700;
}

* {
  font-family: "AeonikTRAIL";
}

body {
  background-color: #000c24;
}