@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik";
  src: url("/public/assets/fonts/AEONIK-REGULAR.TTF");
  font-weight: 400;
}
@font-face {
  font-family: "Aeonik";
  src: url("/public/assets/fonts/AEONIK-LIGHT.TTF");
  font-weight: 500;
}

@font-face {
  font-family: "Aeonik";
  src: url("/public/assets/fonts/AEONIK-BOLD.TTF");
  font-weight: 700;
}

*{
    font-family: "Aeonik";
}